p {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.pokemon {
    width: 90%;
    border-radius: 25px;
    background: #EEF1EF;
    outline: 5px solid #A9B4C2;
    padding: 10px;
    /* height: fit-content; */
    padding-bottom: 20px;
    margin-top: 15px;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center; /* vertically center image + text */
    gap: 6px; /* spacing between them (optional) */
    margin: auto;
    justify-content: center;
    height: 25px;
}
.origin {
    width: 18px;
}

.bgimage {
    border-radius: 10px;
    position: relative;
}

.badge {
    position: absolute;
    width: 50px;
    height: auto;
}
.ball {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: auto;
}

.picture {
    padding: 5px;
    filter: drop-shadow(0 0 10px #000000);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.phase {
    width: 100%;
    height: auto;
}
.phasediv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.halfphasediv {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    justify-content: center;
}

.ribbon {
    width: 100%;
    height: auto;
}
.ribbondiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.date {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.name {
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
}
.ivs {
    margin: 0px;
    text-align: center;
    font-weight: bold;
}
.desc {
    text-align: center;
    margin: 5px;
    line-height: 1.3;
}

.downstat {
    color: #005daf;
}
.upstat {
    color: #c44800;
}
